/* =============================Common Css================================= */

*{margin: 0;padding: 0;box-sizing: border-box;font-family: Roboto;}
body {margin: 0;background-size: 100%;}
.container{max-width: 1800px;width: 90%;margin: 0 auto;position: relative;}
img{display: block;width: 100%;}
a{color: #fff;font-size: 15px;font-family:Roboto;text-decoration: none;font-weight: 500;letter-spacing: normal;}
.heading1{color: #fff;font-family: Poppins;font-size: 80px;font-weight: 800;line-height: 100px;letter-spacing: 3px;}
.heading2{color: #fff;font-family: Poppins;font-size: 50px;font-weight: 700;line-height: 40px;}
.heading3{color: #66fcf1;font-family: Poppins;font-size: 17px;letter-spacing: 3px;font-weight: 400;}
.heading4{color: #fff;font-family:Poppins;font-size: 25px;font-weight: 800;line-height: 40px;letter-spacing: normal;}
.heading5{font-size: 16px;font-weight: 400;line-height: 28px;color: #fff;}
p{font-size: 16px;color: #fff;font-family: Roboto;line-height: 20px;}

/* =================================================Home (Index)================================================= */

/* =========================================header========================================== */
header{background-color: #121212;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding-top: 20px;}
header .navlist{display: grid;grid-template-columns: 30% auto;align-items:center;justify-content: space-between;align-content: center;padding: 10px;}
header .navlist .nav-logo img{width: 70%;}
header .navlist a{padding: 0 15px;cursor: pointer;}
header .navlist a:hover{color: #0ef0e4;transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);background-position: 0%;}
.menu-btn{display: none;}
.header {position: fixed;top: 0;left: 0;right: 0;z-index: 99;}

/* ================================================Banner========================================== */
.banner{position: relative;}
.banner .banner-img {max-width: 100%;width: 100%;display: block;overflow-x: hidden;}
.banner .banner-content{position: absolute;top: 15%;left: 6%;}
.banner .banner-content .heading3{margin-bottom: 60px;}
.banner-btn{padding: 20px;border: 2px solid #38908a;width: max-content;margin-top: 40px;text-transform: uppercase;}

/* ========================================section Tech====================================== */
.tech{background-color: #0b0c10;margin-top: -10%;padding-bottom: 25px;}
.tech .container{display: grid;grid-template-columns: 1fr 1fr 1fr;padding-left: 18%;padding-right: 10%;column-gap: 10px;}
.tech .container .tech-logo img{width: 20%;}
.tech .container .tech-box{padding: 50px 40px;background-color: #121212;}
.tech .container .tech-box .heading4{margin-top: 30px;}
.underline{border-bottom: 4px solid #66fcf1;width: 20%;padding-top: 15px;margin-bottom: 15px;}
.tech .container .tech-box .heading5{margin-right: 50px;}
.left-line{border: 2px solid #66fcf1;width: 40px;rotate: 90deg;margin-left: 52%;margin-top: 22px;}

/* ===================================section service============================== */
.Service{background-color: #0b0c10;padding-top: 100px;padding-bottom: 100px;}
.underline{width: 5%;}
.top-content{display: flex;column-gap: 20px;margin-bottom: 20px;}
.Service .Service-box img{width: 20%;}
.Service .all-service {display: grid;grid-template-columns: 1fr 1fr 1fr;column-gap: 20px;margin-top: 90px;row-gap: 20px;margin-bottom: 90px;}
.Service .all-service .Service-box {background-color: #121212;padding: 50px;flex: 1;display: flex;flex-direction: column; justify-content: space-between; height: 100%;}
.Service .all-service .Service-box .heading4{margin: 30px 0;}
.Service .all-service .line{border: 2px solid #fff;}
.Service .left-line{width: 70px;}
.Service .all-service .inner-box {display: flex;flex-direction: column; height: 100%;}
.Service .all-service .line {flex-shrink: 0;}

/* ================================================Section About========================== */
.about{background-color: #0b0c10;padding-top: 100px;padding-bottom: 100px;}
/* .about .about-main_wrapper{display: grid;grid-template-columns: 1fr 1fr;column-gap: 10px;margin-right: auto;margin-left: auto;position: relative;} */

.about .about-main_wrapper {display: flex;column-gap: 20px;align-items: stretch;height: 100vh; margin-top: 40px;}
.about .main-img {flex: 1; position: relative;}
.about .main-img img {width: 100%;height: 100%;object-fit: cover;}
.about .sub-img {display: flex;flex-direction: column; flex: 1; row-gap: 20px;}
.sub-img1, .sub-img2 {height: 48.5%; position: relative;}
.about .sub-img img {width: 100%;height: 100%;object-fit: cover;}

.about .about-image-text{position: absolute;bottom: 12%;left: 6%;}
.about .about-main_wrapper .heading2{font-size: 20px;margin-bottom: 20px;}
.about .sub-img .about-image-text{left: 5%;bottom: 10%;}
.about .container .about-sub_wrapper{display: grid;column-gap: 20px;grid-template-columns: 1fr 1fr 1fr;margin-top: 20px;margin-bottom: 60px;}
.about .container .about-sub_wrapper .sub-wrapper-box{border-right: 3px solid #66fcf1;padding: 20px 50px 50px 0;}
.about .container .about-sub_wrapper .sub-wrapper-box .heading4{margin-bottom: 20px;}
.about .left-line{width: 70px;}

/* ========================================section Testimonial===================================== */
.testimonial{background-color: #0b0c10;padding-top: 100px;padding-bottom: 100px;}
.testimonial .slide-box1 img{width: 20%;}
.testimonial .heading3{margin-bottom: 50px;}

.testimonial-slider {
  width: 80%; 
  margin: auto;
  background-color: black; 
  padding: 20px; 
  border-radius: 10px; 
}

.slide-box1 {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #000; 
  border-radius: 10px; 
}



.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #fff;
  border: solid 2px #DB9A38;
  display: flex;
  align-items: center;
  justify-content: center;
}



.slick-prev {
  left: -110px;
}

.slick-next {
  right: -110px;
}

.slick-prev img,
.slick-next img {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -60%);
  width: 48%;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: flex;
  justify-content: center;
  column-gap: 5px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}


.testimonial .container .testi-all-img{display: grid; grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));column-gap: 50px;margin: 70px 0 50px;}
.testimonial .left-line{width: 70px;}


/* =========================================Section Inquiry ===========================================*/
.inquiry{background-image: url(./inspiring-wave-images/Home-page/inquiry-bg-img.jpg);background: cover;background-repeat: no-repeat;}
.inquiry .enq-logo{display: flex;justify-content: center;column-gap: 30px;}
.inquiry .enq-logo img{width: auto; border: 3px solid #66fcf1;border-radius: 50%;padding: 10px;}
.inquiry  .enq-main{padding: 100px;}
.inquiry  .enq-main .heading2{margin: 40px 0;text-align: center;}
.inquiry  .enq-main  .banner-btn{display: block;width: max-content;margin: 0 auto;}

/* =============================================Footer========================================= */
.footer{background-color: #0b0c10;padding-top: 100px;padding-bottom: 50px;}
footer .underline{width: 100px;}
.footer .heading5{text-transform: uppercase;}
.footer img{width: auto;}
.footer .fotter-mainwrapper{display: grid;grid-template-columns: 50% 30% 20%;}
.footer .fotter-mainwrapper .heading5{margin-bottom: 20px;}
.footer .fotter-mainwrapper .foo-inner-cont{display: flex;column-gap: 20px;align-items: center;margin-bottom: 20px;}
.footer .fotter-mainwrapper  .footer-box3 .para{margin-bottom: 20px;}
.footer .footer-box .heading5{margin-top: 15px;font-weight: 600;}
.footer .footer-box .para{margin-top: 30px;}
.footer .footer-bootom-content .foo-bo-main{display: flex;justify-content: space-between;margin-top: 50px;margin-right: 15%;}
.footer .footer-bootom-content .foo-bo-sub{display: flex;justify-content: space-between;margin-top: 30px;}
.footer .footer-bootom-content .foo-bo-sub .foo-bo-sub-logo{display: flex;column-gap: 20px;}
.footer .fotter-mainwrapper .heading5{font-weight: 600;}

/* ========================================for the 3D model============================================== */
#container3D{
  z-index: 100;
  position: fixed;
  inset: 0;
  pointer-events: none;
}

/* ==============================================Responsive========================================= */
@media screen and (max-width:1700px) {
  .tech .underline{width: 25%;}
  .tech .container{padding-left: 10%;}
  .heading1 {line-height: 70px;}
  .heading2{line-height: 28px;}
  .heading5{line-height: 22px;}
  .about .about-main_wrapper .heading2{margin-bottom: 10px;}
  
}

@media screen and (max-width:1500px){
  .banner .banner-content .heading3{margin-bottom: 30px;}
  .tech .container .tech-box .heading5 {margin-right: 20px;}
  .heading4{font-size: 22px;}
  .Service .all-service{margin-top: 60px;}
  .Service .all-service .Service-box .heading4 {margin: 20px 0;}
  .Service .all-service .Service-box{justify-content: normal;}
  .slick-arrow{width: 50px;height: 50px;}
  .slick-prev {left: -70px;}
  .slick-next{right: -70px;}
  .footer{padding-top: 70px;}
  .footer .fotter-mainwrapper .heading5 {margin-bottom: 15px;}
}

@media screen and (max-width:1300px){
  .tech .container {padding-left: 7%;padding-right: 7%;}
  .testimonial .heading3 {margin-bottom: 35px;}
  .footer .footer-box .para{margin-top: 20px;}
  .footer .fotter-mainwrapper .footer-box3 .para {margin-bottom: 10px;}
  .footer .fotter-mainwrapper .foo-inner-cont{margin-bottom: 10px;}
  .footer .footer-bootom-content .foo-bo-main{margin-top: 35px;}
  .footer .footer-bootom-content .foo-bo-sub{margin-top: 20px;}
  .Service .all-service .Service-box{padding: 30px;}
}

@media screen and (max-width:1279px){
  .heading1{font-size: 70px;line-height: 50px;}
  .banner-btn{padding: 10px;} 
  header{padding-top: 10px;}
  .heading4{font-size: 20px;} 
  .heading5{font-size: 14px;} 
  .tech .container {padding-left: 4%;padding-right: 4%;}
  .tech .container .tech-box{padding: 30px 25px;}
  .tech .container .tech-box .heading5{margin-right: 0;}
  .tech .container .tech-box .heading4{margin-top: 20px;}
  .Service, .about, .testimonial{padding-top: 70px;padding-bottom: 50px;}
  .Service .all-service{margin-top: 40px;}
  .testimonial .container .testi-all-img{grid-template-columns: repeat(auto-fill, minmax(8%, 1fr));}
  .inquiry .enq-main{padding: 80px;}
  .Service .all-service .Service-box .heading4{margin: 15px 0;}
  
}

@media screen and (max-width:1023px){
  header .navlist a{padding: 0 15px;font-size: 12px;}
  .banner .banner-content .heading3{margin-bottom: 25px;}
  .heading2{font-size: 40px;} 
  .heading1{font-size: 50px;line-height: 40px;}
  .tech{margin-top: -6%;}
  .tech .container{padding-left: 2%;padding-right: 2%;}
  .tech .container .tech-box{padding: 25px 10px;}
  .heading4{font-size: 18px;}
  .tech .underline{padding-top: 10px;margin-bottom: 10px;}
  .Service, .about, .testimonial {padding-top: 50px;padding-bottom: 35px;}
  .about .heading2,  .about .heading5{line-height: 20px;}
  .about .about-main_wrapper .heading2{margin-bottom: 5px;}
  .about .container .about-sub_wrapper .sub-wrapper-box{padding: 15px 30px 20px 0;}
  .slick-arrow {width: 30px;height: 30px;}
  .slick-prev {left: -50px;}
  .slick-next{right: -50px;}
  .slick-prev img, .slick-next img {width: 30%;top: 50%;left: 50%;transform: translate(-50%, -50%);}
  p{font-size: 14px;}
  .testimonial .heading3 {margin-bottom: 20px;}
  .slide-box1{padding: 10px;}
  .testimonial .heading3 {margin-bottom: 10px;}
  .inquiry .enq-main{padding: 80px 40px;}
  .footer{padding-top: 40px;}
  .footer .footer-box .footer-logo img{width: 30%;}
  .footer .fotter-mainwrapper .foo-inner-cont{column-gap: 10px;}
  .footer .underline {padding-top: 0;}
  .footer p{line-break: anywhere;}
  .footer .fotter-mainwrapper{grid-template-columns: 45% 28% 21%;column-gap: 20px;}

}

@media screen and (max-width:767px){
  .menu-btn{display: block;background-color: transparent;border: none;border-bottom: solid 2px #fff;width: 25px;height: 20px;margin-top: -4.5px;cursor: pointer;}
  .menu-btn:before, .menu-btn:after {content: '';display: block;width: 100%;height: 2px;background: #fff;margin: 4.5px 0;transform-origin: 8px 1px;transition: ease .3s all;}
  .menu-btn.active:before {transform: rotate(45deg);}
  .menu-btn.active:after {transform: rotate(-45deg);}
  /* .nav-box{display: flex;align-items: center;justify-content: space-between;gap: 20px;flex-basis: auto;} */
  .navlist .nav{position: fixed;top: 0;left: 0;right: 0;bottom: 0;border-radius: 0;display: block;padding: 5%;padding-top: 15%;transform: translateX(100%);transition: ease .3s all;background-color: #0b0c10;}
  .navlist .nav.active {transform: translateX(0) !important;}
  .navlist .nav a{display: block;font-size: 16px;border-bottom: solid 1px rgba(255,255,255,0.3);padding: 20px 10px;transition: ease 1s all;}
  .navlist .nav a.active{transform: translateX(0) !important;}

  header .navlist .nav-logo img{width: 100%;}
  .banner .banner-content .heading3 {margin-bottom: 5px;font-size: 12px;margin-top: 10px;}
  .heading1{font-size: 30px;line-height: 24px;}
  .banner-btn{padding: 5px;margin-top: 15px;}
  .banner-btn a{font-size: 10px;}
  .tech {margin-top: 0;}
  .tech .container{grid-template-columns: 1fr;}
  .Service .all-service{grid-template-columns: 1fr;}
  .about .container .about-sub_wrapper{grid-template-columns: 1fr;}
  .about .container .about-sub_wrapper .sub-wrapper-box{border-right: none;}
  .left-line{margin-left: 45%;}
  .Service .left-line, .about .left-line, .testimonial .left-line{width: 40px;}
  .heading2 {font-size: 32px;}
  .testimonial .container .testi-all-img{row-gap: 20px;}
  .inquiry .enq-main .heading2{font-size: 26px;line-height: 34px;}
  .footer .fotter-mainwrapper{display: block;}
  .footer .footer-bootom-content .foo-bo-sub{display: block;}
  .footer .footer-bootom-content .foo-bo-sub .foo-bo-sub-logo{margin-top: 20px;justify-content: center;}
  .footer .footer-bootom-content .foo-bo-main{display: block;}
  .footer .footer-bootom-content .foo-bo-main p{margin-bottom: 5px;}
  .about .about-main_wrapper{display: block;height: auto;}
  .about .main-img{margin-bottom: 15px;}
  .banner{position: static;} 
}



